{%extends 'client.html'%}
{%block title%}Password Reset{%endblock title%}
{%block client%}
<section class="container">
	<p class="h1">Password Reset</p>
	<hr>
	<p>
		Forgotten your password? Enter your <span class="text-info">Email Address</span> below, and we will email instructions for setting a new one.
	</p>
	{%if form%}
	<form method="POST">
		{%csrf_token%}
		<table class="table">
			<tr>
				<th scope="col">{{form.email.label}}</th>
				<td>{{form.email}}</td>
			</tr>
		</table>
		<button class="btn btn-primary" type="submit" name="submit">Send Email</button>
		{%if form.errors%}
		<div class="error bg-danger">
			<p>{{form.errors|capfirst}}</p>
		</div>
		{%endif%}
	</form>
	{%else%}
	<p>No form provided! <a href="{%url 'password_reset'%}">Reload page.</a></p>
	{%endif%}

</section>
<style>
	.error{
		margin-top: 10px;
		border: 1px solid grey;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.errorlist{
		list-style-type: none; 
	}
	.errorslist ul{
		color: red;
	}
</style>
{%endblock client%}