{%extends 'client.html'%}
{%block title%}Password Reset Form{%endblock title%}
{%block client%}
<section class="container my-5 py-5">
	<p class="h1">Password Reset Form</p>
	<hr>
	<form method="POST">
		{%csrf_token%}
		<table class="table">
			{%for field in form%}
			<tr>
				<th scope="col">{{field.label}}</th>
				<td>{{field}}</td>
			</tr>
			{%endfor%}
		</table>
		<button class="btn btn-primary" type="submit" name="submit">Reset Password</button>
		{%if form.errors%}
		<div class="error bg-danger">
			<p>{{form.errors|capfirst}}</p>
		</div>
		{%endif%}
	</form>
</section>
<style>
	.error{
		margin-top: 10px;
		border: 1px solid grey;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.errorlist{
		list-style-type: none; 
	}
	.errorslist ul{
		color: red;
	}
</style>
{%endblock client%}