{% extends 'admin.html' %}{%block admin_title%}Types | Delete{%endblock admin_title%} {% block admin %}
<div class="container pt-5">
    <form method="post">
        {% csrf_token %}
        <p class="h2">Are u sure you want to Delete?<span class="text-danger"> It will delete all items referenced to this <u>Type</u>.</span></p>
        <button type="submit" class="btn btn-danger">Am sure!</button>
        <a type="button" class="btn btn-primary" id="back" href="{% url 'typesList_admin'%}">Cancel</a>
    </form>
</div> {% endblock admin %}