{%extends 'admin.html'%}
{%block admin_title%}Password Change{%endblock admin_title%}
{%block admin%}
<section class="container">
	<p class="h1">Password Change</p>
	<hr>
	<form method="POST" action="">
		{%csrf_token%}
		<table class="table">
		{%for field in form%}
			<tr>
				<th scope="col">{{field.label}}</th>
				<td>{{field}}</td>
			</tr>
		{%endfor%}
		</table>
		<button class="btn btn-primary" type="submit" name="submit">Change Password</button>
	</form>
	{% if form.errors%}
		<div class="error bg-danger">
			<p>{{form.errors|capfirst}}</p>
		</div>
		{% endif%}
</section>
<style>
	.error{
		margin-top: 10px;
		border: 1px solid grey;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.errorlist{
		list-style-type: none; 
	}
	.errorslist ul{
		color: red;
	}
</style>
{%endblock admin%}